/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
    1. Vị trí
    2. Kích thước 
    3. Màu sắc
    4. Kiểu dáng ( kiểu chữ, hình tròn, hình vuông,.. )
*/
/* Common */
.clear{
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.text-white{
    /* độ ưu tiên */
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-2{
    width: calc(100%/2);
}
.col-3{
    width: calc(100%/3);
}
.btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;

}
.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.fl-right{
    float: right !important;
}

/* Main */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height:46px;
    background-color:#000;
    z-index:1;
    
}
#nav{
    display: inline-block;
}
#nav,.subnav{
    list-style-type: none;

}
#nav > li {
   display: inline-block;
}
#nav li {
    /* display: block; */
    position: relative;
   
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase;
}
#nav li a{   
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
    
}
#nav .subnav{
    min-width: 160px;
    position: absolute;
    top:100%;
    left:0;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .nav-arrow-down{
    font-size:15px;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    color:#000;
    /* display: block; */
    padding: 0 16px;
    line-height: 38px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding:0 21px;
   
}
#header .mobile-menu-btn:hover{
    
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor:pointer;
}
#header .search-icon,#header .menu-icon{
    font-size: 20px;
    color:#fff; 
    line-height: 46px;
}
#main {

}

#slider {
    position:relative;
    margin-top: 46px;
    padding-top:50%;
    background: url(./assets/img/slider/slider-1.jpg) top center / cover no-repeat ;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color:#fff;
    text-align: center;
    /* cách 1 */
        /* left: 0;
        right:0; */
    /* cách 2 */
    /* width: 100%; */
    /* cách 3 */
    left:50%;
    transform:translateX(-50%);

  
}
#slider .text-header{
    font-weight: 500;
    font-size:24px;
}
#slider .text-description{
    font-size:15px;
    margin-top:25px;
}

#content {

}
#content .content-section{
    width: 800px;
    max-width: 100%;/* responsive tablet */
    margin-left: auto;
    margin-right: auto;
    padding:64px 0 112px;
    padding-left: 16px;/* responsive tablet */
    padding-right: 16px;/* responsive tablet */
}
#content .section-heading{
    text-align: center;
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 30px;
}

#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity:0.6;
}

#content .about-content{
    margin-top: 25px;
    font-size: 15px;
    text-align:justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top:47px;
    /* cách khác lỗi float */
    /* overflow: hidden;  */
}



#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin-top: 15px;
    width:154px;
    border-radius: 4px;
}
/* tour section */
.tour-section{
    background-color: #000;
}
.ticket-list{
    background: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li{
    /* line-height: 39px; */
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
    font-size: 15px;

}
.ticket-list .quality{
    width: 24px;
    height: 22px;
    float: right;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 22px;
    margin-top: -2px;
}
/* Place */
.place-list{
    margin-top:32px;
    /* padding-bottom: 48px; */
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; */
    
    /* Viết tắt  */
    /* margin:32px -8px 0px; */


    /* sửa lỗi float */
    /* overflow: hidden; */
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 550;

}
.place-time{
    margin-top: 15px;
    opacity: 0.6;
    
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}



/* Contact */
.contact-content
{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}
.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    
    opacity: 1;
}
/* Map section */
.map-section img{
    width: 100%;
    filter: grayscale(50%);
    /* opacity: 1; */
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list {
    font-size: 24px;
}
#footer .social-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
#footer .social-list a:hover{
    color: rgba(0,0,0,0.3);
    cursor:context-menu;
}
#footer .copyright{
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);
}
#footer .copyright a:hover{
    color: rgba(0,0,0,0.3);
}